html {
	box-sizing: border-box;
	height: 600px;
}

body {
	margin: 0;
	background-color: white;
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
	
}

h1 {
	position: relative;
	top: -40;
	padding-left: 50;
	font-family: 'Anton', sans-serif;
	font-size: 55;
	letter-spacing: 2;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	z-index: 6;
	
}

h2 {
	position: relative;
	top: -55;
	padding-top: 10;
	padding-left: 50;
	font-family: Avenir, sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: -.7;
	font-size: 20;
}

h3 {
	font-size: 24;
}

p{ 
	font-size: 20;
	line-height: 1.7;
 }

a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: lightcoral;
}
.bigwrap {
	display: inline-flex;
	width: 100%;
	
}

.work-text-wrap {
	display: inline-block;
	width: 700px;
	margin: 70px;
}

.contact-wrap {
	display: inline-block;
	border-style: solid;
	border-width: 2px;
	border-color: pink;
	padding: 10px;
	height: 135px;
	/*left: 270px;*/
	width: 200px;
	right: 30px;
	bottom: 10px;
	position:fixed;
	z-index: 3;
}

.c-info {
	line-height: 2.2;
}

.text-wrap {
	padding-left: 50px;
	z-index: 2;
}
.hello {
	font-size: 24;
}

.link {
	text-decoration: none;
}

#picofme {
	/*position: relative;*/
	top: 40;
	left: 0;
	width: 350px; 
	height: 450px;
	margin-left: 40px;
}

.topmenu {
	height: 70;
	background-color: #F9D5F3;
	position: relative;
	z-index: 1;
}

.menucontainer{
	position: relative;
	top: -20;
	 display: inline-flex;
	 justify-content: space-between;
	 width: 300;
	 float: right;
	 padding-right: 70;
	 z-index: 7;
}

.mylink {
	z-index: 7;
}

.menulinks{
	/*display: inline-flex;
	justify-content: space-between;
	width: 100px;
	height: 20px;*/
	z-index: 4;
}


.top {
	display: inline-flex;
	justify-content: space-between;
}

.wrapper {
	display: inline-flex;
}

.textbox {
	width: 80%;
	/*padding-left: 30;*/
	z-index: 3;
	
}

.colorblock {
	/*display: inline-block;*/
	position: fixed;
	right: 0;
	top: 0;
	width: 400;
	height: 100%;
	background-color: lavender;
	z-index: 1;
	opacity: .4;
}

.reswrapper {
	text-align: center;
}

.resume {
	width: 600px;
	height: 700px;
	display: inline-block;
	
}

.highlight {
    background-color: lavenderblush;
}

#footer {
	margin-bottom: 0;
	overflow: hidden;
}

.fa fa-instagram {
	width: 3px;
	height: 3px;
	margin-right: 10px;
}
.fa fa-linkedin-square {
	width: 3px;
	height: 3px;
	margin-right: 10px;
}
